black==21.7b0
flake8==3.9.2
flake8-import-order==0.18.1
mypy==0.910
networkx==2.6.2
pylint==2.9.6
pytest==6.2.4
pytest-cov==2.12.1
qiskit>=1.0.0
mlrose_hiive>=2.2.0
matplotlib
numpy
scipy
qiskit-aer>=0.13